# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
env/
venv/
poi-env/
*.conda
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Data files
# *.jsonl
# *.json

# Outputs
# poi_mentions.jsonl
# poi_mentions_with_emb.jsonl

# Logs
*.log

poi_mentions.jsonl
\data
\misc
\evaluate_result
\itinerary
\topk_pick
\deepseek
\Qwen
\qwen-plus
Qwen
